.img-p {
	padding-bottom: 30px;
	
}

h1 {
	margin-bottom: 50px;
}

.rates {
	position: absolute;
	right: 20px;
	top: 5px;
}

.fa-star-o {
	color: gold;
	font-size: 20px;
	position: relative;  
}

.title {
	font-weight: 700;
	font-size: 20px;
}

.img-responsive {
	margin: 0 auto;
}

.center-comment {
	margin: 0 auto;
}

.single-image {
	margin-bottom: 30px;
}

.single-form {
	margin-bottom: 30px;

}

.single-comments {
	
}